@media only screen and (min-width:200px) and (max-width:575px) {
    .banner h1{
        font-size: 26px;
        line-height: 28px;
    }

    .banner p{
        font-size: 16px;
        line-height: 24px;
    }
    .form form{
        width: 100%;
        padding: 15px;
    }
    .form form::before{
        display: none;
    }


}